<!DOCTYPE html>
<html>
  <head>
    <title>ResHost</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>ResHost 1.0</h1>
  
    <hr>
  
    <div id="content">
      <form id="submit" method="post" style="display: inline-block"
        width="20%" height="25%" enctype="multipart/form-data" action="landing.html"> 
        <input type="text" id="fname" placeholder="First Name"><br>
        <input type="text" id="lname" placeholder="Last Name"><br>
        <input type="text" id="uname" placeholder="Username"><br>
        <input type="text" id="pword" placeholder="Password"><br>
        <input type="text" id="confirm" placeholder="Confirm Password"><br>
        <input type="submit" name="submit" value="Create Account"><br>
        <a href="landing.html">Already have an account? Sign in.</a><br>
      </form>
    </div>
    
    <hr>
  
    <script>
      var host = "http://69.174.137.112:5397",
        username;

      $("#submit").submit(function (e)
      {
        e.preventDefault();

        var uname = document.getElementById("uname").value,
          fname = document.getElementById("fname").value,
          lname = document.getElementById("lname").value,
          pword = document.getElementById("pword").value,
          conf = document.getElementById("confirm").value;

        username = uname;

        if (uname == "" ||
          fname == "" ||
          lname == "" ||
          pword == "" ||
          conf == "")
        {
          alert("Required field is blank!");
          return;
        }

        if (pword != conf)
        {
          alert("Passwords do not match!");
          return;
        }

        var post = $.post(host + "/create-account", {username: uname,
          password: pword, firstname: fname, lastname: lname});
        post.done(function (data)
        {
          e.preventDefault();
          alert("oh boy-o");

          //var ret = $(data).find("#uploadcontent");
          $("#content").empty().append(data);
        });
      });

      $("#uploadcontent").submit(function (e)
      {
        //The file to upload
        var file = document.getElementById("pdfbox").files[0];
        //A FileReader to get the file contents
        var reader = new FileReader();
        reader.onload = function ()
        {
          console.log(reader.result);
        }
        reader.readAsBinaryString(file);

        var post = $.post(host + "/upload", {username: username,
          filename: file.name, filesize: file.size, file: reader.result});
        post.done(function (data)
        {
          e.preventDefault();
          alert("donzo");
          //var ret = $(data).find("#content");
          //$("#content").empty().append(data);
        });
      });
    </script>
  </body>
</html>
