<!DOCTYPE html>
<html>
  <head>
    <title>ResHost</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>ResHost 1.0</h1>
  
    <hr>
  
    <div id="content">
      <form id="login" method="post" style="display: inline-block"
        width="20%" height="25%" enctype="multipart/form-data">
        <input type="text" id="uname" placeholder="Username"><br>
        <input type="text" id="pword" placeholder="Password"><br>
        <input type="submit" name="submit" value="Login"><br>
        <a href="create-account">Create an account.</a><br>
      </form>
    </div>
    
    <hr>

    <div id="pdfs">
      $REPLACE_WITH_USER_LIST
    </div>
  
    <script>
      var host = "http://69.174.137.112:5397",
        username;

      $(".name").click(function ()
      {
        var id = this.id + "div";
        var state = document.getElementById(id).style.display;
        if (state == "none")
        {
          document.getElementById(id).style.display = "block";
        }
        else document.getElementById(id).style.display = "none";
      });

      $(".pdf").height($(document).height()*.9);

      $("#login").submit(function (e)
      {
        e.preventDefault();

        var uname = document.getElementById("uname").value,
          pword = document.getElementById("pword").value;

        username = uname;

        if (uname == "" ||
          pword == "")
        {
          alert("Required field is blank!");
          return;
        }
        
        var post = $.post(host + "/login", {username: uname,
          password: pword});
        post.done(function (data)
        {
          $("#content").empty().append(data);
          $("#content").find("#uploadcontent").prepend(
            "Upload a different file:<br>");
        });
      });
      
      //TODO: add js for user actions
      $("#content").on('submit', '#uploadcontent', function (e)
      {
        var data = new FormData(document.getElementById("uploadcontent"));
        data.append("username", username);
        var keys = data.keys();
        var check = keys.next();
        alert(check.value + check.done);
        while (!check.done)
        {
          check = keys.next();
          alert(check.value + check.done);
        }
        $.ajax({
          url: host + "/upload",
          method: "POST",
          contentType: "multipart/form-data",
          data: data,
          processData: false
        });
      });
    </script>
  </body>
</html>
